<!-- topbar starts -->
<div class="topbar">
  <div style="display: flex">
    <input type="search" name="search" class="search_bar" placeholder="Search for .." />
    <div class="search_btn">
      <img
        width="24"
        height="24"
        src="https://img.icons8.com/material-rounded/24/FFFFFF/search.png"
        alt="search"
      />
    </div>
  </div>

  <div class="topNav">
    <img
      class="topNavIcons"
      width="30"
      height="30"
      src="https://img.icons8.com/ios-filled/50/7F63F4/secured-letter.png"
      alt="secured-letter"
    />
    <img
      class="topNavIcons"
      width="30"
      height="30"
      src="https://img.icons8.com/external-simple-solid-edt.graphics/50/7F63F4/external-Bell-bells-simple-solid-edt.graphics-10.png"
      alt="external-Bell-bells-simple-solid-edt.graphics-10"
    />
    <!-- <div class="dropdown">
      <button class="dropdown-button">Dropdown</button>
      <div class="dropdown-content">
        <a href="#">Option 1</a>
        <a href="#">Option 2</a>
        <a href="#">Option 3</a>
      </div>
    </div> -->
    <!-- <a href="../profile"> -->
    <div class="topNavIcons">
      <div class="dropdown">
        <div class="pDropBtn">
          <img
            class="userDiv"
            width="50"
            height="50"
            src="https://img.icons8.com/ios-filled/50/FFFFFF/user-male-circle.png"
            alt="user-male-circle"
          />
          <p><%- user.firstname %></p>
        </div>

        <div class="dropdown-content">
          <div class="dropDwnhndle"></div>
          <a href="/profile">Profile</a>
          <!-- <a href="/logout">Logout</a> -->
          <!-- <a href="#">Option 3</a> -->
        </div>
      </div>
    </div>

    <div class="topNavIcons">
      <img
        width="30"
        height="30"
        src="https://img.icons8.com/glyph-neue/64/7F63F4/menu--v1.png"
        alt="menu--v1"
      />
    </div>
  </div>
</div>
<script>
  const changeTheme = () => {};
</script>
<!-- topbar ends -->
