<div class="this_page container-fluid w-full d-flex justify-content-center align-items-center">
    <div class="form_border p-3 border border-5">
        <div
            class="form_holder p-4 d-flex flex-column justify-content-center align-items-center">
            <h2 class="form_title ">Forgot Your Passward</h1>
                <p class="form_title mb-5">Strong passwords include numbers, letters
                    and punctuatuion marks.</p>
                <form class="w-100 p-1">
                    <div class="form-group mb-4">
                        <label for="newpassword" class="mb-1">New Password</label>
                        <input type="password" class="form-control" id="newpassword" placeholder="*************">
                    </div>
                    <div class="form-group mb-4">
                        <label for="confirmPassword" class="mb-1">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" placeholder="*************">
                    </div>
                    <div class="w-100 d-flex justify-content-center my-5">
                        <button type="submit" class="submit_btn rounded-pill px-5 py-2">Reset Password </button>
                    </div>
                    <div class="form_small_text mt-5">
                        <p>Remember your Password?
                            <a class="form_link" href="/">
                                Login
                            </a>
                        </p>
                    </div>
                </form>
        </div>
    </div>
</div>