<div
  class="this_page container-fluid w-full d-flex flex-column align-items-center justify-content-center"
>
  <div class="start_pic"></div>
  <img class="start_logo" src="/virtualFairs.png" />

  <div class="start_content">
    <h1>WELCOME TO OUR WEBSITE</h1>
    <hr id="strHr" />
    <p>How would you like move furthur?</p>
  </div>
  <div class="start_btn_holder">
    <a class="butn" href="/guest">
      <h5 class="butn1">Guest</h5>
    </a>
    <a class="butn" href="/vendor">
      <h5 class="butn2">Vender</h5>
    </a>
  </div>
</div>
