.profile_form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%;
  /* overflow: hidden; */
}

.Proflie_head {
  width: 70%;
  position: relative;
  background-color: white;
  /* background-color: #fff; */
  box-shadow: 0 0 9px rgb(129, 129, 129);
}

.profile_title {
  color: var(--theme-color);
  font-size: 12px;
  padding: 3px 10px;
  background-color: #8063f436;
  font-weight: 700;
}

.profile_cover {
  width: 100%;
  height: 170px;
  background-color: rgb(170, 170, 170);
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile_cover img {
  width: 100%;
  height: 100%;
}

/* profile pic update box */

.updator_box {
  /* width: 300px; */
  /* height: 300px; */
  /* background-color: red; */
  position: absolute;
  top: 55px;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-direction: column;
}

.updator_box canvas {
  width: 100px;
  height: 100px;
  border: 2px solid #40c057;
  background: rgb(255, 255, 255);
  /* background-image: url(https://img.icons8.com/glyph-neue/100/7f63f4/user--v1.png); */
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  transform: scale(1);
  transition: all 1s;
  /* z-index: 1; */
}

.updator_box #profileCheck {
  border: none;
  border-radius: 50%;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: 2px solid transparent;
  transition: ease-in-out 0.3s;
}

#profileCheck:hover {
  border: 2px solid #40c057;
  transition: 0.2s;
  transform: scale(1.2);
}

.updator_box #profileDelete {
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: ease-in-out 0.3s;
  border: 2px solid transparent;
}

#profileDelete:hover {
  border: 2px solid #fa5252;
  transition: 0.2s;
  transform: scale(1.2);
}

#finput {
  display: none;
}

#finput + label {
  color: #f1e5e6;
  background-color: white;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 20px;
  transition: ease-in-out 0.3s;
  border: 2px solid transparent;
}

#finput:hover + label {
  /* background-color: light; */
  border: 2px solid var(--theme-color);
  transition: 0.2s;
  transform: scale(1.2);
}

.profile_data {
  width: 100%;
  height: 110px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  position: relative;
}

.profile_picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid var(--theme-color);
  background-color: #ffffff;
  position: absolute;
  top: 60px;
  left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_picture .PImage {
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

.profile_picture div {
  background-color: rgb(114, 114, 114);
  padding: 32px;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.6s;
  cursor: pointer;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: absolute;
  display: flex;
}

.profile_picture div:hover {
  transition: all 0.2s;
  opacity: 0.9;
}

.editPImage {
  /* width: 50px; */
}

.profile_data_box {
  background-color: transparent;
  color: black;
  position: relative;
}

.profile_data_box span {
  color: var(--theme-color);
  z-index: 5;
}

.profile_data_box p {
  color: gray;
  z-index: 5;
}

.profile_data_box h6 {
  color: rgb(173, 173, 173);
  font-weight: 700;
  font-size: 13px;
  z-index: 5;
}

.data_para {
  width: 100%;
  padding: 20px 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}

.profile_data_back {
  width: 120%;
  height: 45%;
  background-color: rgba(255, 217, 0, 0.13);
  position: absolute;
  z-index: 1;
  bottom: -2px;
  left: -10%;
  transform: skewX(-20deg);
  /* border-radius: 50%; */
}

.data_divs {
  width: 100%;
  padding: 0 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10%;
  text-align: left;
  color: gray;
  /* background-color: red; */
  position: relative;
}

.data_keys {
  display: flex;
  justify-content: space-between;
  width: 25%;
  color: black;
  z-index: 1;
}

.data_divs p {
  z-index: 1;
  background-color: white;
}

.profile_All_data {
  transition: ease-in-out 0.5s;
  background-color: red;
}

.profile_edit_form {
  outline: none;
  /* background-color: rgb(240, 240, 240); */
  background-color: white;
  border: 0;
  /* background: linear-gradient(to left, rgb(211, 211, 211), white); */
  color: rgb(65, 65, 65);
  display: inline-block;
  /* text-align: right; */
  display: block;
  padding: 5px 2%;
  position: absolute;
  right: 42.4%;
  z-index: 2;
  opacity: 0;
  transition: ease-in-out 0.5s;
  border-radius: 50px;
  box-shadow: 0px 0 5px 0px gray;
}

.profile_edit_form:focus {
  box-shadow: 0px 0 10px 0px var(--theme-color);
  transition: 0.2s;
}

.data_divs :nth-child(2) {
  /* display: none; */
  /* background-color: red; */
}

.profile_edit_box {
  position: absolute;
  background-color: gray;
  border-radius: 50%;
  padding: 8px;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: 0.8s;
  user-select: none;
}

.profile_save_box {
  position: absolute;
  background-color: gray;
  border-radius: 50%;
  /* padding: 10px; */
  bottom: 20px;
  right: 20px;
  padding: 8px;
  cursor: pointer;
  transition: 0.8s;
  user-select: none;
  display: none;
}

.profile_save_box:hover {
  background-color: yellowgreen;
  transition: 0.2s;
  box-shadow: 0 0 7px yellowgreen;
}

.profile_edit_box:hover {
  background-color: var(--theme-color);
  transition: 0.2s;
  box-shadow: 0 0 7px var(--theme-color);
}

.profile_edit_box:active,
.profile_save_box:active {
  transform: scale(0.85);
  transition: 0.1s;
}
